
.containerUl{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 30px;
}

.containerUl li{
    text-align: left;
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.151);
    padding: 30px;

}

.prodImg{
    width: 250px;
}


.eliminarPedido{
    width: 130px;
    height: 40px;
    cursor: pointer;
    background: transparent;
    border: 1px solid red;
    outline: none;
    transition: 1s ease-in-out;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: red;
}

.containerInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

.estadoFlotante{
    position: absolute;
    top: -45px;
    background-color: rgb(230, 181, 92);
    border: 1px solid black;
    padding: 2px;

    padding: 5px;
    font-weight: bold;
}